:root {
    --clr-black: #1c1c1c;
    --clr-gray: #ececec;
    --clr-white: #f7f7f7;

    --type-normal: #A8A878;
    --type-fire: #F08030;
    --type-water: #6890F0;
    --type-grass: #78C850;
    --type-electric: #F8D030;
    --type-ice: #98D8D8;
    --type-fighting: #C03028;
    --type-poison: #A040A0;
    --type-ground: #E0C068;
    --type-flying: #A890F0;
    --type-psychic: #F85888;
    --type-bug: #A8B820;
    --type-rock: #B8A038;
    --type-ghost: #705898;
    --type-dark: #705848;
    --type-dragon: #7038F8;
    --type-steel: #B8B8D0;
    --type-fairy: #F0B6BC;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--clr-black);
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  font-size: medium;
}

ul {
    list-style-type: none;
}

button {
    background-color: transparent;
    border: 0;
    border-radius: 0;
}

body {
    background-color: #fff6f6;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

h1 {
    color: #643939;
    font-size: 50px;
    font-weight: bold;
}

.div-form {
  margin: 60px auto;
  background-color: white;
  border-radius: 25px;
  width: 340px;
  padding: 30px 60px;
}

.div-footer{
  text-align: center;
  padding: 10px;
}

header {
    padding-block: 1rem;
    box-shadow: 0 0 2rem -1rem rgba(0, 0, 0, .5);
}

.nav {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: flex-start;
    padding-inline: 2rem;
    max-width: 1000px;
    margin: 0 auto;
}

.nav-list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: .5rem;
    margin-bottom: 30px;
}

.div-inicio-bottom {
  display: flex;
  justify-content: center;
  align-items: center;
}

.center{
  justify-content: center;
  align-items: center;
  display: flex;
}

.btn-header {
    background-color: var(--clr-gray);
    padding: .5rem;
    border-radius: 100vmax;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 600;
    box-shadow: 0 0 1rem rgba(0, 0, 0, .25);
    transition: .2s;
}

.btn-inicio{
    margin-top: 20px;
    background-color: #643939;
    color: white;
    border-radius: 25px;
    padding: 10px 20px;
}

.top-bar{
    display: flex;
    align-items: center;
    gap: 15px;
    margin: 15px 0;
}

.btn-buscar{
    background-color: #643939;
    color: white;
    border-radius: 5px;
    padding: 8px 12px;
}

.barra-busqueda{
    margin: 15px 0;
}

.barra-busqueda input{
    padding: 8px 20px;
    border-radius: 5px;
}

.btn-header:hover {
    transform: scale(1.1);
    box-shadow: 0 0 2rem rgba(0, 0, 0, .25);
}

main {
    padding: 2rem;
    max-width: 1000px;
    margin: 0 auto;
}

.pokemon-todos {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
}

@media screen and (min-width: 470px) {
    .pokemon-todos {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width: 700px) {
    .pokemon-todos {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

.pokemon {
    border-radius: 1rem;
    background-color: var(--clr-white);
    box-shadow: 0 0 3rem -1rem rgba(0, 0, 0, .25);
    padding-block: 1rem;
    text-transform: uppercase;
    position: relative;
    isolation: isolate;
    overflow: hidden;
}

.pokemon-imagen {
    padding-inline: 1rem;
    display: flex;
    justify-content: center;
}

.pokemon-imagen img {
    width: 100%;
    max-width: 6rem;
}

.pokemon-info {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    padding-inline: 1rem;
    align-items: center;
    text-align: center;
}

.nombre-contenedor {
    display: flex;
    align-items: center;
    column-gap: .5rem;
    flex-wrap: wrap;
    justify-content: center;
}

.pokemon-id {
    background-color: var(--clr-gray);
    padding: .25rem .5rem;
    border-radius: 100vmax;
    font-size: .75rem;
    font-weight: 500;
}

.pokemon-nombre {
    font-size: 1.4rem;
}

.pokemon-tipos {
    display: flex;
    gap: .5rem;
    font-size: .75rem;
    font-weight: 500;
    flex-wrap: wrap;
    justify-content: center;
}

.tipo {
    padding: .25rem .5rem;
    border-radius: 100vmax;
}

.pokemon-stats {
    display: flex;
    gap: 1rem;
    font-size: .85rem;
}

.stat {
    background-color: var(--clr-gray);
    padding: .25rem .5rem;
    border-radius: 100vmax;
}

.batalla-container{
    max-width: 1000px;
    margin: 40px auto;
    text-align: center;
}

.busqueda{
    display:flex;
    justify-content:center;
    gap:20px;
    margin-top: 40px;
    margin-bottom:30px;
}

.busqueda input{
    padding:10px 15px;
    border-radius:8px;
    border:1px solid #ccc;
}

.busqueda button{
    background-color:#643939;
    color:white;
    border:none;
    padding:10px 15px;
    border-radius:8px;
    cursor:pointer;
}

.busqueda button:hover{
    transform:scale(1.05);
}

.contenedor-batalla{
    display:flex;
    justify-content:center;
    gap:60px;
    margin-top:20px;
    margin-bottom: 50px;
}

#carta1, #carta2{
    width:250px;
}

.btn-batalla{
    margin:50px auto;
    padding: 10px 20px;
    display: block;
}

.btn-batalla:hover{
    transform:scale(1.3);
}

.arena{
    max-width:900px;
    margin:40px auto;
    display:flex;
    justify-content:space-between;
    align-items:center;
    gap: 80px;
}

.arena div{
    text-align:center;
}

.arena img{
    width:150px;
}

.vs{
    font-size:40px;
    font-weight:bold;
    color:#643939;
}

.ganador-container{
    text-align:center;
    margin-top:80px;
}

.ganador-container h1{
    font-size:45px;
    margin-bottom:40px;
}

#pokemonGanador{
    display:flex;
    justify-content:center;
    margin-bottom:40px;
}

#logBatalla{
    max-width:700px;
    margin:30px auto;
    background:white;
    border-radius:20px;
    padding:20px;
    box-shadow:0 8px 20px rgba(0,0,0,0.15);
    height:250px;
    overflow-y:auto;
}

.turno{
    background:#f7f7f7;
    border-radius:12px;
    padding:10px 15px;
    margin-bottom:10px;
    font-size:14px;
    box-shadow:0 2px 6px rgba(0,0,0,0.1);
}

.turno strong{
    color:#643939;
}

.ataque{
    color:#d62828;
    font-weight:bold;
}

.defensa{
    color:#10bd4d;
    font-weight:bold;
}

.fallo{
    color:#ff9f1c;
    font-weight:bold;
}

.turno{
    animation: aparecer 0.3s ease;
}

@keyframes aparecer{
    from{
        opacity:0;
        transform:translateY(5px);
    }
    to{
        opacity:1;
        transform:translateY(0);
    }
}

.normal {
    background-color: var(--type-normal);
    color: var(--clr-black);
}

.fire {
    background-color: var(--type-fire);
    color: var(--clr-black);
}

.water {
    background-color: var(--type-water);
    color: var(--clr-white);
}

.grass {
    background-color: var(--type-grass);
    color: var(--clr-black);
}

.electric {
    background-color: var(--type-electric);
    color: var(--clr-black);
}

.ice {
    background-color: var(--type-ice);
    color: var(--clr-black);
}

.fighting {
    background-color: var(--type-fighting);
    color: var(--clr-white);
}

.poison {
    background-color: var(--type-poison);
    color: var(--clr-white);
}

.ground {
    background-color: var(--type-ground);
    color: var(--clr-black);
}

.flying {
    background-color: var(--type-flying);
    color: var(--clr-black);
}

.psychic {
    background-color: var(--type-psychic);
    color: var(--clr-black);
}

.bug {
    background-color: var(--type-bug);
    color: var(--clr-black);
}

.rock {
    background-color: var(--type-rock);
    color: var(--clr-black);
}

.ghost {
    background-color: var(--type-ghost);
    color: var(--clr-white);
}

.dark {
    background-color: var(--type-dark);
    color: var(--clr-white);
}

.dragon {
    background-color: var(--type-dragon);
    color: var(--clr-white);
}

.steel {
    background-color: var(--type-steel);
    color: var(--clr-black);
}

.fairy {
    background-color: var(--type-fairy);
    color: var(--clr-black);
}